<head>
  <meta charset="utf-8">
  <%
  var title = page.title;
  if (is_archive()) {
    title = 'Archives';
    if (is_month())
      title += ': ' + page.year + '/' + page.month;
    else if (is_year())
      title += ': ' + page.year;
  }
  else if (is_category())
    title = 'Category: ' + page.category;
  else if (is_tag())
    title = 'Tag: ' + page.tag;
  %>
  <title><% if (title) { %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (theme.rss) { %>
    <link rel="alternative" href="<%- url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon) { %>
    <link rel="icon" href="<%- url_for(theme.favicon) %>">
  <% } %>
  
	<!-- If needed, replace your own web font service -->
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,700|Inconsolata|Oswald" rel="stylesheet" />

  <% if (theme.google_analytics) { %>
     <script async src="https://www.googletagmanager.com/gtag/js?id=<%= theme.google_analytics %>"></script>
     <script>
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());

       gtag('config', '<%= theme.google_analytics %>');
     </script>
   <% } %>
   
  <%- css('icomoon/style.css') %>
  <%- css('style.css') %>

</head>
